**Import modules**

In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
apt = pd.read_csv('../data/interim/apt.csv')
lanl = pd.read_csv('../data/interim/lanl.csv')
purple = pd.read_csv('../data/interim/purple.csv')

apt = apt.drop(apt.columns[0],axis=1)
purple = purple.drop(purple.columns[0],axis=1)
lanl = lanl.drop(lanl.columns[0],axis=1)

In [3]:
apt['Anomalous'] = 1
purple['Anomalous'] = 1
lanl['Anomalous'] = 0

In [4]:
apt.head()

   EventID ProcessName     Time  Anomalous
0        1         NaN  50835.0          1
1       10         NaN  50835.0          1
2       10         NaN  50835.0          1
3        7         NaN  50835.0          1
4        7         NaN  50835.0          1

In [5]:
purple.head()

   EventID ProcessName     Time  Anomalous
0     5156         NaN  34186.0          1
1     5156         NaN  34186.0          1
2     5156         NaN  34186.0          1
3     5156         NaN  34186.0          1
4     5156         NaN  34186.0          1

In [6]:
lanl.head()

   EventID   ProcessName  Time  Anomalous
0   4688.0   svchost.exe   1.0          0
1   4688.0  rundll32.exe   1.0          0
2   4688.0   svchost.exe   1.0          0
3   4688.0     vssvc.exe   1.0          0
4   4688.0   svchost.exe   1.0          0

In [7]:
datasets = [apt, purple, lanl]

finaldf = pd.concat(datasets)

In [8]:
finaldf.head()

   EventID ProcessName     Time  Anomalous
0      1.0         NaN  50835.0          1
1     10.0         NaN  50835.0          1
2     10.0         NaN  50835.0          1
3      7.0         NaN  50835.0          1
4      7.0         NaN  50835.0          1

In [9]:
finaldf = finaldf.sort_values(by=['Time'])

In [10]:
finaldf.isnull().sum()

EventID              0
ProcessName    2936039
Time                 0
Anomalous            0
dtype: int64

In [11]:
filename = 'concatenated.csv'

finaldf.to_csv(filename)

In [12]:
import pyspark
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.types import *
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = SparkContext(conf=conf)
spark = SparkSession(sc)


df = spark.read.csv("concatenated.csv")
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [13]:
df.show()

+----+-------+------------+----+---------+
| _c0|    _c1|         _c2| _c3|      _c4|
+----+-------+------------+----+---------+
|null|EventID| ProcessName|Time|Anomalous|
|3738| 4624.0|services.exe| 1.0|        0|
|4161| 4688.0| svchost.exe| 1.0|        0|
|4162| 4624.0|services.exe| 1.0|        0|
|4163| 4688.0|   vssvc.exe| 1.0|        0|
|4164| 4688.0| svchost.exe| 1.0|        0|
|4165| 4672.0|        null| 1.0|        0|
|4166| 4688.0|wmiprvse.exe| 1.0|        0|
|4167| 4624.0|services.exe| 1.0|        0|
|4168| 4672.0|        null| 1.0|        0|
|4169| 4688.0|   vssvc.exe| 1.0|        0|
|4170| 4688.0|   vssvc.exe| 1.0|        0|
|4171| 4688.0| svchost.exe| 1.0|        0|
|4172| 4776.0|        null| 1.0|        0|
|4173| 4769.0|        null| 1.0|        0|
|4174| 4624.0|services.exe| 1.0|        0|
|4175| 4672.0|        null| 1.0|        0|
|4160| 4672.0|        null| 1.0|        0|
|4176| 4624.0|services.exe| 1.0|        0|
|4159| 4624.0|        null| 1.0|        0|
+----+-------+------------+----+---------+
only showing top 20 rows