In [3]:
import findspark
findspark.init()

In [4]:
import pyspark

In [5]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[*]') \
    .config("spark.driver.memory", "8g") \
    .appName('vb-app') \
    .getOrCreate()

In [110]:
path = "../data/raw/evtx_data.csv"
df = spark.read.options(header='true', inferSchema='true') \
          .csv(path)

In [113]:
df = df.select("Computer","EventID","SystemTime", "EVTX_FileName")
# df.show()

In [92]:
df.groupBy('EventID').count().orderBy(desc('count')).show()

+-------+-----+
|EventID|count|
+-------+-----+
|   null| 5240|
|   5145|  950|
|      1|  843|
|      7|  613|
|     11|  185|
|   1040|  178|
|   1042|  173|
|     13|  162|
|      3|  153|
|     10|  140|
|   4663|  115|
|      8|  101|
|   5156|   92|
|     12|   80|
|   4624|   69|
|   1155|   64|
|    258|   64|
|   1136|   64|
|     18|   46|
|      5|   43|
+-------+-----+
only showing top 20 rows

In [114]:
print((df.count(), len(df.columns)))

(9873, 4)

In [115]:
df = df.na.drop()

In [116]:
print((df.count(), len(df.columns)))

(4633, 4)

In [93]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
def convert_to_unix(event_time):
    time = event_time[10:]
    print(time)
    time_list = time.split(":")
    return int(time_list[0])*3600+int(time_list[1])*60+int(float(time_list[2]))

convert_to_unix_udf = udf(convert_to_unix, IntegerType())

df = df.withColumn("time", convert_to_unix_udf(df.SystemTime))
# df.select("time").show()

### Total events per user in (last) 15 minutes window interval  
Ref: https://stackoverflow.com/questions/45806194/pyspark-rolling-average-using-timeseries-data

In [94]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F
new_df = df.select("time", "Computer", "EventID").filter(df.EventID.isin([1, 3, 8, 10, 11, 12, 4624, 4625, 4648, 4658, 4661, 4663, 4672,4698,4768,5140,5145, 5156, 5158]))
w = (Window.partitionBy('Computer').orderBy(F.col("time").cast('long')).rangeBetween(-1800, Window.currentRow))
new_df = new_df.withColumn('total_events', F.count("time").over(w))
# new_df.show()

In [57]:
# from pyspark.sql.functions import desc
# new_df.groupBy("EventID",'total_events').count().sort(desc("EventID")).show(30)

In [58]:
# new_df.filter((new_df.EventID == '4624')).sort("time").show(50)

## Paritition By UserName and Event

In [95]:
w = (Window.partitionBy('Computer', 'EventID').orderBy(F.col("time").cast('long')).rangeBetween(-1800, Window.currentRow))
new_df = new_df.withColumn('total_per_event', F.count("time").over(w))

In [60]:
# new_df.show()

In [96]:
columns = ["time", "host", "event_id", "total_events", "total_per_event"]
new_df = new_df.toDF(*columns)
new_df = new_df.select(*columns)

In [97]:
new_df = new_df.distinct()
new_df = new_df.groupBy("time", "host", "total_events").pivot("event_id").sum("total_per_event")

In [63]:
# new_df.sort("time", "host").show()

In [11]:
from pyspark.sql import Window
from pyspark.sql.functions import last
import sys

def forward_fill(column_name):
    # define the window
    window = Window.partitionBy('host')\
                   .orderBy(F.col("time").cast('long'))\
                   .rangeBetween(-1800, Window.currentRow)

    # what column to fill forward
    return last(column_name, True).over(window)

#     # perform fill
#     return new_df.withColumn(column_name, filled_column)


# # show 
# spark_df_filled.orderBy('time', 'host').show(10)

In [100]:
columns_to_fill = new_df.schema.names[3:]
print(columns_to_fill)
for column_name in columns_to_fill:
    new_df = new_df.withColumn('event_' + column_name, forward_fill(column_name))

['1', '3', '8', '10', '11', '12', '4624', '4625', '4648', '4658', '4661', '4663', '4672', '4698', '4768', '5140', '5145', '5156', '5158']

In [67]:
new_df.orderBy("time", "host").show()

+----+--------------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-------+-------+-------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|time|                host|total_events|   1|   3|   8|4624|4625|4648|4658|4661|4672|4698|4768|5140|5145|5156|5158|event_1|event_3|event_8|event_4624|event_4625|event_4648|event_4658|event_4661|event_4672|event_4698|event_4768|event_5140|event_5145|event_5156|event_5158|
+----+--------------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-------+-------+-------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
| 124|WIN-77LTAPHIQ1R.e...|          14|null|null|null|   4|null|null|null|null|   3|   2|null|   2|   3|null|null|   null|   null|   null|         4|      null|      null|      null|      null|         3|         2|      null|         2|         3|      null|      null|
| 127|WIN-77LTAPHIQ1R.e...|          18|null|null|null|null|null|null|null|null|null|null|null|   4|   5|null|null|   null|   null|   null|         4|      null|      null|      null|      null|         3|         2|      null|         4|         5|      null|      null|
| 137|WIN-77LTAPHIQ1R.e...|          21|null|null|null|null|null|null|null|   3|null|null|null|null|null|null|null|   null|   null|   null|         4|      null|      null|      null|         3|         3|         2|      null|         4|         5|      null|      null|
| 141|WIN-77LTAPHIQ1R.e...|          25|null|null|null|   6|null|null|null|null|   5|null|null|null|null|null|null|   null|   null|   null|         6|      null|      null|      null|         3|         5|         2|      null|         4|         5|      null|      null|
| 576|         MSEDGEWIN10|           2|   2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      2|   null|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
| 578|         MSEDGEWIN10|           4|null|   2|null|null|null|null|null|null|null|null|null|null|null|null|null|      2|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
| 583|         MSEDGEWIN10|           5|   3|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      3|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
| 676|         MSEDGEWIN10|           6|   4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      4|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
| 680|         MSEDGEWIN10|           7|null|   3|null|null|null|null|null|null|null|null|null|null|null|null|null|      4|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1696|         MSEDGEWIN10|           1|   1|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      1|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1732|         MSEDGEWIN10|           4|   4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      4|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1792|              IEWIN7|           1|null|   1|null|null|null|null|null|null|null|null|null|null|null|null|null|   null|      1|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1942|              IEWIN7|           2|null|   2|null|null|null|null|null|null|null|null|null|null|null|null|null|   null|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1944|              IEWIN7|           3|   1|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      1|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1950|              IEWIN7|           4|   2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      2|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1955|              IEWIN7|           6|   4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      4|      2|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1956|              IEWIN7|           7|null|   3|null|null|null|null|null|null|null|null|null|null|null|null|null|      4|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|1960|              IEWIN7|           8|   5|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      5|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|2107|              IEWIN7|          13|  10|null|null|null|null|null|null|null|null|null|null|null|null|null|null|     10|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
|2108|              IEWIN7|          16|  13|null|null|null|null|null|null|null|null|null|null|null|null|null|null|     13|      3|   null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|      null|
+----+--------------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-------+-------+-------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

In [68]:
new_df.select("time", "host","4624","event_4624").orderBy("time", "host").show()

+----+--------------------+----+----------+
|time|                host|4624|event_4624|
+----+--------------------+----+----------+
| 124|WIN-77LTAPHIQ1R.e...|   4|         4|
| 127|WIN-77LTAPHIQ1R.e...|null|         4|
| 137|WIN-77LTAPHIQ1R.e...|null|         4|
| 141|WIN-77LTAPHIQ1R.e...|   6|         6|
| 576|         MSEDGEWIN10|null|      null|
| 578|         MSEDGEWIN10|null|      null|
| 583|         MSEDGEWIN10|null|      null|
| 676|         MSEDGEWIN10|null|      null|
| 680|         MSEDGEWIN10|null|      null|
|1696|         MSEDGEWIN10|null|      null|
|1732|         MSEDGEWIN10|null|      null|
|1792|              IEWIN7|null|      null|
|1942|              IEWIN7|null|      null|
|1944|              IEWIN7|null|      null|
|1950|              IEWIN7|null|      null|
|1955|              IEWIN7|null|      null|
|1956|              IEWIN7|null|      null|
|1960|              IEWIN7|null|      null|
|2107|              IEWIN7|null|      null|
|2108|              IEWIN7|null|      null|
+----+--------------------+----+----------+
only showing top 20 rows

In [101]:
new_df = new_df.na.fill(value=0)

In [15]:
new_df = new_df.drop(*columns_to_fill)
new_df = new_df.distinct()

In [16]:
new_df.show()

+-----+--------------------+------------+-------+-------+--------+--------+--------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
| time|                host|total_events|event_1|event_3|event_10|event_11|event_12|event_4624|event_4625|event_4658|event_4661|event_4663|event_4672|event_5140|event_5145|event_5156|event_5158|
+-----+--------------------+------------+-------+-------+--------+--------+--------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|16186|wec.internal.clou...|           6|      0|      0|       0|       0|       0|         0|         0|         0|         0|         0|         0|         0|         0|         6|         0|
|16187|wec.internal.clou...|           8|      0|      0|       0|       0|       0|         0|         0|         0|         0|         0|         0|         0|         0|         7|         1|
|16189|wec.internal.clou...|           9|      0|      0|       0|       1|       0|         0|         0|         0|         0|         0|         0|         0|         0|         7|         1|
|16192|wec.internal.clou...|          84|      1|      0|       3|       1|      47|         0|         0|        21|         0|         1|         0|         0|         0|         8|         2|
|16193|wec.internal.clou...|         755|      3|      0|      38|       7|     558|         4|         7|        70|         0|        10|         4|         0|         0|        33|        21|
|16194|wec.internal.clou...|        1782|      5|     19|      52|       7|    1379|         7|         7|       120|         0|        33|         7|         3|         3|        89|        51|
|16195|wec.internal.clou...|        3279|      5|     61|      55|     317|    2398|        16|         7|       136|         0|        40|        10|         3|         3|       147|        81|
|16196|wec.internal.clou...|       14360|      9|    100|      74|     520|   13187|        16|         7|       152|         0|        48|        10|         3|         3|       148|        83|
|16197|wec.internal.clou...|       16256|     17|    113|     126|     539|   14709|        21|         7|       345|         2|       105|        15|         3|         3|       158|        93|
|16198|wec.internal.clou...|       17939|     22|    118|     150|     559|   16035|        22|         7|       574|         2|       170|        16|         3|         3|       160|        98|
|16199|wec.internal.clou...|       18885|     22|    126|     168|     586|   16847|        23|         7|       632|         2|       189|        17|         3|         3|       161|        99|
|16200|wec.internal.clou...|       19994|     24|    126|     245|     610|   17628|        37|         7|       748|         2|       245|        31|         3|         3|       179|       106|
|16201|wec.internal.clou...|       20227|     24|    126|     247|     617|   17832|        38|         7|       761|         2|       250|        32|         3|         3|       179|       106|
|16202|wec.internal.clou...|       20234|     24|    126|     251|     618|   17832|        38|         7|       761|         2|       250|        32|         3|         3|       180|       107|
|16203|wec.internal.clou...|       20254|     24|    126|     251|     618|   17832|        48|         7|       761|         2|       250|        42|         3|         3|       180|       107|
|16204|wec.internal.clou...|       20255|     24|    126|     251|     618|   17833|        48|         7|       761|         2|       250|        42|         3|         3|       180|       107|
|16205|wec.internal.clou...|       20257|     24|    126|     253|     618|   17833|        48|         7|       761|         2|       250|        42|         3|         3|       180|       107|
|16206|wec.internal.clou...|       20264|     24|    126|     255|     620|   17835|        48|         7|       761|         2|       250|        42|         3|         3|       180|       108|
|16207|wec.internal.clou...|       20266|     24|    126|     255|     622|   17835|        48|         7|       761|         2|       250|        42|         3|         3|       180|       108|
|16208|wec.internal.clou...|       20268|     24|    126|     255|     622|   17835|        48|         7|       761|         2|       250|        42|         3|         3|       181|       109|
+-----+--------------------+------------+-------+-------+--------+--------+--------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

In [17]:
new_df.coalesce(1).write.option("header",True).csv("../data/processed/malicious_pivoted")

# TEST

In [17]:
df = spark.read.options(header='true', inferSchema='true') \
          .csv('../data/processed/merged_dataset.csv')

In [18]:
df.show()

+----+----------+--------+------------+------------+---------------+
|time|      host|event_id|is_malicious|total_events|total_per_event|
+----+----------+--------+------------+------------+---------------+
|   2|Comp158828|    4624|           0|          18|              9|
|   2|Comp158828|    4672|           0|          18|              9|
|   3|Comp581624|    4624|           0|           1|              1|
|   5|Comp581624|    4624|           0|           6|              6|
|   6|Comp337732|    4624|           0|           4|              4|
|   6|Comp581624|    4648|           0|           8|              2|
|   8|Comp337732|    4624|           0|           6|              5|
|   8|Comp337732|    4625|           0|           6|              1|
|  11|Comp158828|    4624|           0|          34|             17|
|  11|Comp158828|    4672|           0|          34|             17|
|  11|Comp337732|    4624|           0|           8|              6|
|  11|Comp337732|    4625|           0|           8|              2|
|  11|Comp581624|    4624|           0|          10|              8|
|  12|Comp337732|    4624|           0|          10|              8|
|  12|Comp876177|    4624|           0|           4|              4|
|  13|Comp337732|    4624|           0|          14|             10|
|  13|Comp337732|    4625|           0|          14|              4|
|  13|Comp581624|    4624|           0|          13|             11|
|  14|Comp158828|    4624|           0|          44|             22|
|  14|Comp158828|    4672|           0|          44|             22|
+----+----------+--------+------------+------------+---------------+
only showing top 20 rows

In [19]:
df = df.distinct()
new_df = df.groupBy("time", "host", "total_events", "is_malicious").pivot("event_id").sum("total_per_event")

In [20]:
new_df.show()

+-----+----------+------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| time|      host|total_events|is_malicious|   1|   3|   8|  10|  11|  12|4624|4625|4648|4658|4661|4663|4672|4698|4768|5140|5145|5156|5158|
+-----+----------+------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|72765|Comp337732|        1891|           0|null|null|null|null|null|null|1338| 553|null|null|null|null|null|null|null|null|null|null|null|
|69978|Comp337732|        1896|           0|null|null|null|null|null|null|1340| 551|null|null|null|null|null|null|null|null|null|null|null|
|62746|Comp876177|        1940|           0|null|null|null|null|null|null|1940|null|null|null|null|null|null|null|null|null|null|null|null|
|48554|Comp337732|        1883|           0|null|null|null|null|null|null|1327| 556|null|null|null|null|null|null|null|null|null|null|null|
|57997|Comp337732|        1914|           0|null|null|null|null|null|null|1364|null|null|null|null|null|null|null|null|null|null|null|null|
|20609|Comp876177|        1403|           0|null|null|null|null|null|null|1403|null|null|null|null|null|null|null|null|null|null|null|null|
|82590|Comp337732|        1754|           0|null|null|null|null|null|null|1273|null|null|null|null|null|null|null|null|null|null|null|null|
|32719|Comp876177|        2757|           0|null|null|null|null|null|null|2757|null|null|null|null|null|null|null|null|null|null|null|null|
|32307|Comp337732|        4361|           0|null|null|null|null|null|null|2608|1753|null|null|null|null|null|null|null|null|null|null|null|
|23452|Comp337732|        1765|           0|null|null|null|null|null|null|1282| 483|null|null|null|null|null|null|null|null|null|null|null|
|78878|Comp876177|        1938|           0|null|null|null|null|null|null|1938|null|null|null|null|null|null|null|null|null|null|null|null|
|61841|Comp337732|        1881|           0|null|null|null|null|null|null|1329| 552|null|null|null|null|null|null|null|null|null|null|null|
|74608|Comp337732|        1906|           0|null|null|null|null|null|null|null| 541|null|null|null|null|null|null|null|null|null|null|null|
|70181|Comp337732|        1897|           0|null|null|null|null|null|null|1340| 552|null|null|null|null|null|null|null|null|null|null|null|
|83926|Comp337732|        1754|           0|null|null|null|null|null|null|1274| 480|null|null|null|null|null|null|null|null|null|null|null|
|21853|Comp337732|        1744|           0|null|null|null|null|null|null|1262| 481|null|null|null|null|null|null|null|null|null|null|null|
|34645|Comp337732|        3933|           0|null|null|null|null|null|null|2869|null|null|null|null|null|null|null|null|null|null|null|null|
|30952|Comp337732|        4380|           0|null|null|null|null|null|null|2629|1751|null|null|null|null|null|null|null|null|null|null|null|
|70816|Comp876177|        1954|           0|null|null|null|null|null|null|1952|null|null|null|null|null|null|null|null|null|null|null|null|
|82978|Comp337732|        1742|           0|null|null|null|null|null|null|null| 480|null|null|null|null|null|null|null|null|null|null|null|
+-----+----------+------------+------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [21]:
from pyspark.sql import functions as F
columns_to_fill = new_df.schema.names[4:]
print(columns_to_fill)
for column_name in columns_to_fill:
    new_df = new_df.withColumn('event_' + column_name, forward_fill(column_name))

['1', '3', '8', '10', '11', '12', '4624', '4625', '4648', '4658', '4661', '4663', '4672', '4698', '4768', '5140', '5145', '5156', '5158']

In [22]:
new_df.select("time", "host","4624","event_4624").orderBy("time", "host").show()

+----+----------+----+----------+
|time|      host|4624|event_4624|
+----+----------+----+----------+
|   2|Comp158828|   9|         9|
|   3|Comp581624|   1|         1|
|   5|Comp581624|   6|         6|
|   6|Comp337732|   4|         4|
|   6|Comp581624|null|         6|
|   8|Comp337732|   5|         5|
|  11|Comp158828|  17|        17|
|  11|Comp337732|   6|         6|
|  11|Comp581624|   8|         8|
|  12|Comp337732|   8|         8|
|  12|Comp876177|   4|         4|
|  13|Comp337732|  10|        10|
|  13|Comp581624|  11|        11|
|  14|Comp158828|  22|        22|
|  14|Comp337732|  11|        11|
|  15|Comp337732|null|        11|
|  15|Comp581624|  24|        24|
|  16|Comp581624|  27|        27|
|  18|Comp337732|  12|        12|
|  18|Comp581624|  28|        28|
+----+----------+----+----------+
only showing top 20 rows

In [23]:
new_df = new_df.na.fill(value=0)

In [24]:
new_df = new_df.drop(*columns_to_fill)
new_df = new_df.distinct()

In [25]:
new_df.coalesce(1).write.option("header",True).csv("../data/processed/merged_dataset_pivoted")

### Sysmon 1 (Process Creation)

### Sysmon 3 (Network Connection)

### Sysmon 8 (Remote Thread Creation)

### Total number of Event 4624 per user in an hour window interval  (Successful Logon)

### Total number of Event 4625 per user in an hour window interval  (Failed Logon)

### Total number of Event 4627 per user in an hour window interval  (Group Membership)

### Total number of Event 4648 per user in an hour window interval  (A logon was attempted using explicit credentials)

### Total number of Event 4658 per user in an hour window interval  (handle to an object was closed)

### Total number of Event 4661 per user in an hour window interval  (handle to an object was requsted)

### Total number of Event 4672 per user in an hour window interval  (Special privileges assigned to new logon)

### Total number of Event 4698 per user in an hour window interval  (A scheduled task was created)

### Total number of Event 4768 per user in an hour window interval  (Kerberos Authentication)

### Total number of Event 5140 per user in an hour window interval  (A network share object was accessed)

### Total number of Event 5145 per user in an hour window interval  (A network share object was checked to see whether client can be granted desired access)

### 5156: The Windows Filtering Platform has allowed a connection

### Total number of Event 5158 per user in an hour window interval  (The Windows Filtering Platform has permitted a bind to a local port)